---
title: Home
permalink: /
order: 1
layout: index
---

{# Upcoming Gigs #}

{% if collections.gigs | length > 0 %}
<section class="mb-16">

  <h1 class="text-center mb-6 text-neutral-100 text-xl font-bold">Upcoming Gigs</h1>

  {% for gig in collections.gigs %}

  {# Event date and title #}
  <h2 class="text-center mb-2 text-neutral-100 font-semibold">{{ gig.data.date | postDate }} - {{ gig.data.title }}</h2>

  {# Event description / content #}
  <div class="text-center text-neutral-300 mb-2">{{ gig.content | safe }}</div>
  <ul class="text-center mb-8">

    {# Event time #}
    {% if gig.data.time %}
    <li class="text-neutral-300"><i class="fa-regular fa-clock w-5 text-center"></i> <span class=" ">{{
        gig.data.time }}</a></li>
    {% endif %}

    {# Event location #}
    {% if gig.data.gmaps %}
    <li class="text-neutral-300"><i class="fas fa-map-marker-alt w-5 text-center"></i> <a href="{{ gig.data.gmaps }}"
        class="text-sky-500 hover:text-sky-400">{{
        gig.data.location }}</a></li>
    {% endif %}

    {# Facebook link #}
    {% if gig.data.fblink %}
    <li class="text-neutral-300"><i class="fab fa-facebook-f w-5 text-center"></i> <a href="{{ gig.data.fblink }}"
        class="text-sky-500 hover:text-sky-400">Facebook event</a></li>
    {% endif %}

    {# Web link #}
    {% if gig.data.weblink %}
    <li class="text-neutral-300"><i class="fa-solid fa-link w-5 text-center"></i> <a href="{{ gig.data.weblink }}"
        class="text-sky-500 hover:text-sky-400">Event website</a></li>
    {% endif %}
  </ul>

  {% endfor %}

</section>
{% endif %}

{# News #}

{% set pinnedPosts = collections.posts | filterPinned %}
{% if pinnedPosts | length > 0 %}
<section class="mb-16">
  <h1 class="text-center mb-8 text-neutral-100 text-xl font-bold">What's new?</h1>

  {% for post in pinnedPosts %}

  <h2 class="text-center mb-2 text-neutral-100 font-semibold">{{ post.data.title }}</h2>

  <div class="text-center mb-6 prose">{{ post.content | safe }}</div>
  {% endfor %}

  {# <p class="text-center text-neutral-400 italic">For a trip down memory lane, check out the <a
      href="{{ site.baseUrl }}/archives" class="text-sky-500 hover:text-sky-400">archives</a> with older posts.</p> #}
</section>
{% endif %}

{# Placeholder, if no gigs or latest news #}

<section class="mb-16">

  <h1 class="text-center mb-8 text-neutral-100 text-xl font-bold">Need some Friction in your life?</h1>

  <p class="text-neutral-400 mb-4">
    Embracing the vibrant rhythms of Afrobeat, the soulful melodies of Ethio-Jazz, and the lively beats of Cumbia, the
    Helsinki-based Friction collective crafts a unique, multicultural musical experience that transcends borders and
    unites audiences.
  </p>

  {% if collections.gigs | length == 0 and pinnedPosts | length == 0 %}
  <p class="text-neutral-400 mb-4">
    While the stage awaits our return, we're busy blending new rhythms and melodies to bring you an unforgettable live
    experience. Keep your ears open and spirits ready for when we announce our next performance dates. The journey
    through sound continues, and we can't wait to share it with you soon. Stay tuned!</p>
  {% endif %}

  <p class="text-neutral-400 mb-4">
    We welcome
    opportunities to bring our transcendent sounds to new audiences and venues. If you are inspired to feature our
    Helsinki-based ensemble at your event, creating moments that bridge worlds and evoke unity, please reach out to us.
    Let's orchestrate an unforgettable musical journey that captivates and connects.
  </p>

  <div class="text-center mt-8">
    <button class="email bg-sky-500 text-white px-6 py-2 rounded-full hover:bg-sky-400 transition-colors">Get
      in touch via email</button>
    <noscript>
      <p class="text-neutral-300"></p>Get in touch via email: friction.helsinki at gmail dot com
      </p>
    </noscript>
    </p>
</section>

<footer class="text-center">
  <div class="mb-8">{% include "partials/_social.html" %}</div>

</footer>