<!DOCTYPE html>
<html lang="en">
{# <html lang="en" class="dark"> #}

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="{{ site.baseUrl }}/{{ 'assets/css/tailwind.css' | url }}">

  <!-- JS assets -->
  <link href="https://cdn.jsdelivr.net/npm/simplelightbox/dist/simple-lightbox.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/simplelightbox/dist/simple-lightbox.jquery.min.js"></script>


  <!-- Meta -->
  <title>{{site.title}}{% if title %} - {{title}} {% endif %} </title>
  <meta name="description" content="
      {% if description %}
        {{description}}
      {% else %}
        {{site.description}}
      {% endif %}
    " />
</head>

<body class="bg-neutral-900">

  {% include "partials/_navigation.njk" %}

  {{ content | safe }}

  {% include "partials/_footer.njk" %}

  <script src="{{ site.baseUrl }}/assets/js/menu.js"></script>
  <script src="{{ site.baseUrl }}/assets/js/email.js"></script>
  <script>
    // Lightbox
    document.addEventListener("DOMContentLoaded", function () {
      var lightbox = new SimpleLightbox('.gallery a', {
        overlayOpacity: 0.8,  // Set the opacity of the overlay background
        overlayColor: '#000000', // Dark background
        fadeSpeed: 0,         // Set transition fade speed to 0 to remove fade effect
        animationSpeed: 0,    // Set animation speed to 0 to remove slide effects
      });
    });

  </script>

</body>

</html>