<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="{{ site.baseUrl }}/{{ 'assets/css/tailwind.css' | url }}">
  <link rel="stylesheet" href="{{ site.baseUrl }}/assets/css/tobii.min.css">

  <!-- Meta -->
  <title>{{site.title}}{% if title %} - {{title}} {% endif %} </title>
  <meta name="description" content="
      {% if description %}
        {{description}}
      {% else %}
        {{site.description}}
      {% endif %}
    " />

</head>

<body class="bg-neutral-900">

  {% include "partials/_navigation.njk" %}

  {{ content | safe }}

  {% include "partials/_footer.njk" %}

  <script src="{{ site.baseUrl }}/assets/js/menu.js" defer></script>
  <script src="{{ site.baseUrl }}/assets/js/email.js" defer></script>
  <script src="{{ site.baseUrl }}/assets/js/tobii.min.js" defer></script>
  <script src="{{ site.baseUrl }}/assets/js/video.js" defer></script>
  <script>
    // Init Lightroom plugin for media gallery
    const tobii = new Tobii({
      // captions: false,
      counter: false,
      zoom: false
    })
  </script>


</body>

</html>