---
layout: base
---
<div class="mb-44 md:mb-48 lg:mb-60">
    <div class="absolute w-full h-48 lg:h-72 overflow-hidden">
        <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-b from-transparent to-neutral-900 z-[-1]"></div>
        <video autoplay loop muted playsinline
            class="absolute top-0 left-1/2 min-w-full min-h-full w-auto h-auto -translate-x-1/2 z-[-2]">
            <source src="assets/videos/slogan.mp4" type="video/mp4">
        </video>
        <div
            class="max-w-xl mx-auto w-full pt-10 lg:pt-14 text-3xl md:text-4xl lg:text-5xl text-center font-bold text-neutral-200">
            Afrobeat, Ethio-Jazz, <br>
            Cumbia Collective <br>
            from Helsinki</div>
    </div>
</div>

<div class="flex items-center justify-between max-w-3xl mx-auto w-full">
    <main class="w-full">
        <div class="p-5">{{content| safe}}</div>
    </main>
</div>