---
layout: base
---

{% include "partials/_hero.njk" %}

<main class="relative z-10 items-center justify-between max-w-3xl mx-auto w-full p-5 mt-12">

    <div class="w-full prose">{{content| safe}}</div>

</main>