---
layout: base
---

<div class="flex items-center justify-between max-w-3xl mx-auto w-full mt-6">
    <main class="w-full">
        <div class="prose prose-neutral p-5">{{content| safe}}</div>
    </main>
</div>