---
permalink: /
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="refresh" content="0; url=/en/">
  <link rel="canonical" href="/en/">
  <title>Friction Groove Collective</title>
</head>
<body>
  <a href="/en/">Redirecting to English version…</a>
</body>
</html>
