<section class="text-center my-16">
    <button class="email hidden bg-sky-500 text-white px-6 py-2 rounded-full hover:bg-sky-400 transition-colors">Get
        in touch via email</button>
    <noscript>
        <p class="text-neutral-300">Get in touch via email: friction.helsinki at gmail dot com</p>
    </noscript>
</section>