<!-- Include Home link for mobile navigation -->
{% if mobileNavi %}
<a href="{{ site.baseUrl }}/" class="p-5 uppercase font-extrabold items-center 
block text-center text-gray-300 hover:text-sky-400">
    Home
</a>
{% endif %}

<!-- If there are gigs, include special "gigs" link to jump in the page -->
{% set hasGigs = collections.gigs | filterFutureDates | length > 0 %}
<a href="{{ site.baseUrl }}/#gigs" id="gigs-link"
class="p-5 uppercase font-extrabold items-center 
{% if not hasGigs %} hidden {% endif %}
{% if mobileNavi == true %} block text-center {% else %} inline-flex {% endif %}
 text-gray-300 hover:text-sky-400">
    Gigs
</a>

<!-- Iterate all other pages -->
{% for item in collections.pages %}
{% if item.data.title !== "Home" and item.data.hidden != true %}
<a href="{{ site.baseUrl }}{{ item.url }}" class="p-5 uppercase font-extrabold items-center 
    {% if mobileNavi == true %} block text-center {% else %} inline-flex {% endif %}
    {% if item.url === page.url %}text-sky-100{% else %}text-gray-300 hover:text-sky-400{% endif %}">
    {{ item.data.title }}
</a>
{% endif %}
{% endfor %}