<div class=" bg-black bg-opacity-50 h-18">
    <nav class="flex items-center justify-between max-w-3xl mx-auto w-full">

        <!-- Friction logo (functions as home link as well) -->
        <a href="/" class="inline-block w-40 p-5 uppercase font-semibold text-xl tracking-wider 
            {% if page.url === '/' %}text-neutral-100{% else %}text-neutral-100 hover:text-sky-500{% endif %}">
            {% include "svg/logo.svg" %}
        </a>

        <!-- Top navigation for bigger screens -->
        <div class="hidden sm:flex justify-end">
            {%- for item in collections.pages -%}
            {% if item.data.title != "Home" %}

            <a href="{{ site.baseUrl }}{{ item.url }}" class="p-5 inline-flex uppercase font-extrabold
                items-center 
                {% if item.url === page.url %}text-sky-100{% else %}text-gray-400 hover:text-sky-500{% endif %}">
                {{ item.data.title }}
            </a>

            {% endif %}
            {%- endfor -%}

            <!-- Social media links and email -->
            {% include "partials/_social.html" %}

        </div>

        <!-- Mobile navigation toggle for small screens -->
        <div class="flex justify-end sm:hidden">
            <button id="menuToggle" class="p-5 text-xl text-gray-400 hover:text-sky-500">
                <i class="fas fa-bars"></i>
            </button>
        </div>

        <!-- Mobile navigation for non-JS users -->
        {# TODO: style this, maybe make a full Non-JS navi with new lines for links #}
        {# also hide JS navi by default and only make it visible with JS enabled #}
        <noscript>
            <div class="block">
                {%- for item in collections.pages -%}
                {% if item.data.title != "Home" %}

                <a href="{{ item.url }}" class="p-5 inline-flex uppercase font-extrabold
                    items-center 
                    {% if item.url === page.url %}text-sky-100{% else %}text-gray-400 hover:text-sky-500{% endif %}">
                    {{ item.data.title }}
                </a>

                {% endif %}
                {%- endfor -%}
            </div>
        </noscript>

    </nav>
</div>

<!-- Full-screen Overlay Mobile Menu -->
<div id="mobileMenu" class="hidden fixed inset-0 bg-black bg-opacity-90 z-50 flex justify-center items-center ">
    <!-- Close Button -->
    <button id="menuClose" class="p-5 absolute top-0 right-0 text-gray-200 text-2xl">
        <i class="fas fa-times"></i> <!-- Close icon -->
    </button>
    <!-- Menu Items -->
    <nav>
        <ul>
            {%- for item in collections.pages -%}
            <li>
                <a href="{{ item.url }}" class="p-5 block uppercase font-extrabold text-center
            {% if item.url === page.url %}text-sky-100{% else %}text-gray-400 hover:text-sky-500{% endif %}">
                    {{ item.data.title }}
                </a>
            </li>
            {%- endfor -%}
            <div class="mt-12">{% include "partials/_social.html" %}</div>
        </ul>
    </nav>
</div>