</a>
<a href="https://www.instagram.com/frictionbandhelsinki/" class="p-5 text-gray-300 hover:text-sky-400">
    <i class="fab fa-instagram"></i>
    <span class="sr-only">Instagram</span>
</a>
<a href="https://www.youtube.com/@FrictionBandHelsinki" class="p-5 text-gray-300 hover:text-sky-400">
    <i class="fab fa-youtube"></i>
    <span class="sr-only">YouTube</span>
</a>
<a href="https://www.facebook.com/FrictionHelsinki" class="p-5 text-gray-300 hover:text-sky-400">
    <i class="fab fa-facebook-f"></i>
    <span class="sr-only">Facebook</span>
</a>
<a href="https://soundcloud.com/friction-helsinki" class="p-5 text-gray-300 hover:text-sky-400">
    <i class="fab fa-soundcloud"></i>
    <span class="sr-only">SoundCloud</span>
    <a href="#" class="email hidden p-5 text-gray-300 hover:text-sky-400">
        <i class="fas fa-envelope"></i>
        <span class="sr-only">Email</span>
    </a>