</a>
<a href="https://www.instagram.com/frictionhelsinki/" class="p-5 text-gray-300 hover:text-primary-500">
    <i class="fab fa-instagram"></i>
    <span class="sr-only">Instagram</span>
</a>
<a href="https://www.youtube.com/@FrictionBandHelsinki" class="p-5 text-gray-300 hover:text-primary-500">
    <i class="fab fa-youtube"></i>
    <span class="sr-only">YouTube</span>
</a>
<a href="https://www.facebook.com/FrictionHelsinki" class="p-5 text-gray-300 hover:text-primary-500">
    <i class="fab fa-facebook-f"></i>
    <span class="sr-only">Facebook</span>
</a>
<a href="https://www.groovehub.io/events/groove-afrobeat-jam-session" class="p-5 text-gray-300 hover:text-primary-500">
    <span aria-hidden="true" class="text-base leading-none">∞</span>
    <span class="sr-only">Groovehub</span>
</a>