<a href="https://facebook.com" class="p-5 text-gray-400 hover:text-sky-500">
    <i class="fab fa-facebook-f"></i>
    <span class="sr-only">Facebook</span>
</a>
<a href="https://youtube.com" class="p-5 text-gray-400 hover:text-sky-500">
    <i class="fab fa-youtube"></i>
    <span class="sr-only">YouTube</span>
</a>
<a href="https://soundcloud.com" class="p-5 text-gray-400 hover:text-sky-500">
    <i class="fab fa-soundcloud"></i>
    <span class="sr-only">SoundCloud</span>
</a>
<a href="mailto:your@email.com" class="p-5 text-gray-400 hover:text-sky-500">
    <i class="fas fa-envelope"></i>
    <span class="sr-only">Email</span>
</a>